* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --red-orange-color-wheel: hsl(17, 96%, 48%);
  --middle-blue-green: hsl(167, 45%, 72%);
  --smokey-black: hsl(0, 0%, 7%);
  --spanish-gray: hsl(0, 0%, 60%);
  --granite-gray: hsl(0, 0%, 40%);
  --tan-crayola: hsl(27, 46%, 58%);
  --light-gray: hsl(0, 0%, 80%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_25: hsla(0, 0%, 0%, 0.25);
  --black_50: hsla(0, 0%, 0%, 0.4);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --cultured: hsl(220, 16%, 96%);
  --manatee: hsl(218, 11%, 65%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}

html {
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 10px 20px;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1250px;
  width: 100%;
  display: flex;
}


/*__________ NAV _____________*/

#nav {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;
}

#nav.active {
  box-shadow: 0 0 10px 5px var(--black_10);
}

#nav>.navCont {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navCont > .logo > h3 {
  cursor: pointer;
  font-size: 2em;
  font-weight: normal;
  color: var(--smokey-black);
}

.navCont > .links {
  display: flex;
  align-items: center;
  gap: 45px;
}



.navCont > .links > li > a {
  font-size: 1.1em;
  color: var(--smokey-black);
  cursor: pointer;
  position: relative;
}

.navCont > .links > li > a::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--tan-crayola);
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: all 0.5s;
}

.navCont > .links > li > a:hover::after {
  transform: translateX(-50%) scale(1);
}

.navCont>.nav-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navCont>.nav-icons>i {
  font-size: 1.4em;
  cursor: pointer;
  color: var(--smokey-black);
  transition: all 0.5s;
}

.navCont>.nav-icons>i:hover {
  color: var(--tan-crayola);
}

.navCont>.nav-icons>i:nth-child(2),
.navCont>.nav-icons>i:nth-child(3) {
  position: relative;
}

.navCont>.nav-icons>i>sub {
  position: absolute;
  bottom: -8px;
  right: -8px;
  font-size: 0.5em;
  background: var(--tan-crayola);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}


.navCont>.nav-icons>i:hover>sub {
  background-color: var(--smokey-black);
}

/*-----------------------------------*\
  #Nav_button
\*-----------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------------*\
  #TOP
\*-----------------------------------*/

#topBox {
  position: fixed;
  z-index: 10;
  bottom: 800px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

#topBox.active {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}

.topBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--smokey-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  transition: all 0.3s;
}

.topBtn > i {
  font-size: 1.8em;
  color: var(--white);
}

.topBtn:hover {
  background: var(--tan-crayola);
}

#responsiveMenu {
  display: none;
}

nav.dark >  .navCont > .nav-icons > i{
  color: white;
}

.nav-icons > .menuBtn{
  display: none;
}
/*__________ HEADER ____________ */


.heder-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heder-main-container>.someCont {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  width: 100%;
}

.heder-main-container .someChild {
  height: 100%;
  position: relative;
  padding: 40px 25px;
  overflow: hidden;
}

.heder-main-container .someChild>h3 {
  font-size: 1.5em;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.5s;
}

.heder-main-container .someChild>h3:hover {
  color: var(--tan-crayola);
}

.heder-main-container .someChild>p {
  font-size: 1.1em;
  margin-top: 10px;
}

.heder-main-container .someChild>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  transform: scale(1);
  transition: all 0.5s;
}

.heder-main-container .someChild:hover>img {
  transform: scale(1.05);
}

.heder-main-container>.down>.someChild {
  height: 180px;
}

.heder-main-container>.up>.someChild {
  height: 400px;
}

.heder-main-container>.up>.norm {
  width: 25%;
}

.heder-main-container>.up>.great {
  width: 50%;
}

.dark > .someChild{
  border: 1px solid var(--tan-crayola);
  border-radius: 5px;
}
.dark > div > h3,.dark > div > p {
  color: white;
}
.down>.down-card-header {
  width: 50%;
}



/* Main  */

.about {
  flex-direction: column;
  gap: 70px;
}

.about > .title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  gap: 25px;
  max-width: 900px;
  width: 100%;
  text-align: center;
}

.about > .title > h2 {
  font-family: 'Mr De Haviland', cursive;
  font-size: 3.5em;
  color: var(--smokey-black);
  font-weight: 100;
}

.about > .title > p {
  font-size: 1.1em;
  color: var(--black_70);
  line-height: 27px;
}

.main-down {
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.main-down > img {
  width: 100%;
  height: 480px;
  background-size: contain;
  object-fit: cover;
}

.esim {
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.main-down:hover > .esim {
  opacity: 1;
  visibility: visible;
}

.esim > ion-icon {
  font-size: 7vw;
  color: var(--white);
}



                                /*Shops*/
#shops {
  flex-direction: column;
  gap: 70px;
}

.shopContUp {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.shopContUp > .shopTitle {
  font-size: 2.2em;
  color: var(--smokey-black);
  font-weight: 100;
}

.shopContUp > .right-aside > .filterProductName {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.right-aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.right-aside > .search {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.right-aside > .search > input {
  width: 100%;
  padding: 12px 5px;
  padding-right: 120px;
  font-size: 1.1em;
  color: var(--smokey-black);
  border: 1px solid var(--smokey-black);
}

.right-aside > .search > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  padding: 10px 30px;
  border: none;
  font-size: 1.1em;
  border-radius: 1px;
  background-color: rgb(39, 39, 39);
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.right-aside > .search > button:hover {
  background-color: var(--tan-crayola);
  color: var(--white);
}

.right-aside > .filterProductName > .link.active {
  color: var(--tan-crayola);
}

.right-aside > .filterProductName > p {
  cursor: pointer;
  color: var(--smokey-black);
  transition: all 0.5s;
}

.right-aside > .filterProductName > p:hover {
  color: var(--tan-crayola);
}


.addProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.addProduct > h2 {
  text-align: center;
  font-size: 2em;
  color: var(--smokey-black);
}
.inputs {
  max-width: 500px;
  width: 100%;
}
.inputs  > form{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.inputs > form > textarea {
  resize: none;
}
.inputs > form > input,.inputs > form > textarea {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid var(--black);
  font-size: 1.1em;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}

.inputs > form > button,.inputs > form > a > button {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 18px;
  border:none;
  background-color: var(--tan-crayola);
  color: #000;
  cursor: pointer;
  transition: all 0.5s;
}

.inputs > form > button:hover, .inputs > form > a > button:hover{
  background-color: #000;
  color: var(--tan-crayola);
}


.shopMainCont {
  gap: 30px;
  justify-content: start;
  flex-flow: row wrap;
}

.shopMainCont > .card {
  width: 288px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
}

.shopMainCont > .card > .cardImg {
  width: 100%;
  height: 288px;
  position: relative;
  transition: all 0.5s;
}

.shopMainCont > .card > .cardImg > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.shopMainCont > .card > .cardImg > .hoverEfect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--black_10);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.shopMainCont > .card > .cardImg:hover > .hoverEfect {
  visibility: visible;
  opacity: 1;
}

.shopMainCont > .card > .cardImg > .hoverEfect > .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.shopMainCont > .card > .cardImg > .hoverEfect > .icons > .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopMainCont > .card > .cardImg > .hoverEfect > .icons > .icon > ion-icon {
  font-size: 1.5em;
  color: var(--smokey-black);
  transition: all 0.5s;
}

.shopMainCont > .card > .cardImg > .hoverEfect > .icons > .icon:hover > ion-icon {
  color: var(--black_50);
}

.shopMainCont > .card > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-direction: column;
}

.shopMainCont > .card > .content > h3 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--smokey-black);
  cursor: pointer;
  transition: all 0.5s;
}

.shopMainCont > .card > .content > h3:hover {
  color: var(--tan-crayola);
}

.shopMainCont > .card > .content > p {
  font-size: 1.1em;
  color: var(--smokey-black);
}



                                /*blog*/

.blog {
  flex-direction: column;
  padding-bottom: 60px;
  gap: 60px;
}

.blog > .title {
  justify-content: space-between;
  align-items: center;
}

.blog > .title > h2 {
  font-size: 2.2em;
  font-weight: normal;
  color: var(--smokey-black);
}

.blog > .title > span {
  font-size: 1.1em;
  color: var(--smokey-black);
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

.blog > .title > span:hover {
  color: var(--tan-crayola);
}

.blog > .title > span > ion-icon {
  font-size: 1.3em;
}

.blogCards {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}

.blogCards > .card {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogCards > .card > .img {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.blogCards > .card > .img > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.blogCards > .card > .img > .read {
  position: absolute;
  bottom: 0;
  right: -100%;
  padding: 10px 30px;
  background: var(--white);
  box-shadow: 0 0 5px 2px var(--black_10);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.5s;
}

.blogCards > .card > .img:hover > .read {
  right: 0;
  transition: all 0.5s;
}

.blogCards > .card > .img > .read:hover > span,
.blogCards > .card > .img > .read:hover > ion-icon {
  color: var(--tan-crayola);
  transition: all 0.5s;
}

.blogCards > .card > .img > .read > ion-cion {
  font-size: 1.3em;
  color: var(--smokey-black);
}

.blogCards > .card > .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogCards > .card > .content > h3 {
  font-size: 1.3em;
  font-weight: normal;
  color: var(--smokey-black);
  cursor: pointer;
  transition: all 0.5s;
}

.blogCards > .card > .content > h3:hover {
  color: var(--tan-crayola);
}

.blogCards > .card > .content > .paragraph {
  display: flex;
  gap: 13px;
}

.blogCards > .card > .content > .paragraph > span {
  color: var(--smokey-black);
}


                                /*Footer*/

footer{
  width: 100%;
  background-color: #000;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .container {
  display: flex;
  justify-content: center;
}
#footer-p{
  font-size: 20px;
  text-align: center;
  color: #fff;
} 
#footer-p > span {
  color: hsl(27deg 48% 62%);
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1000px;
    width: 100%;
  }

  .shopMainCont > .card {
      width: 313px;
  }
}

@media screen and (max-width: 1060px) {
  .container {
    max-width: 750px;
    width: 100%;
  }

  .about > .title {
    max-width: 750px;
  }

  .about > .main-down > img {
    height: 400px;
  }

  .navCont > .links {
    gap: 20px;
  }

  .navCont > .links > li {
    font-size: 1.1em;
  }

  .heder-main-container > .up > .someChild {
    max-width: calc(100% / 3);
    width: 100%;
  }

  .shopContUp {
    flex-direction: column;
    gap: 40px;
  }

  .shopMainCont {
    justify-content: space-between;
  } 

    .blogCards {
      justify-content: space-between;
      flex-flow: row wrap;
      gap: 50px;
  }

  .blogCards > .card {
      width: 340px;
  }
}


@media screen and (max-width: 785px) {
  .container {
    max-width: 750px;
    width: 100%;
  }

  .navCont > .links {
    display: none;
  }

  .navCont > .links > li {
    font-size: 1em;
  }

  #responsiveMenu {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 0.5s;
  }

  .nav-icons > .menuBtn {
    display: block;
  }

  #responsiveMenu.active {
    visibility: visible;
  }

  #responsiveMenu > .vse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--black_50);
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
  }

  #responsiveMenu.active > .vse {
    opacity: 1;
  }

  #responsiveMenu.active > .aside {
    transform: translateX(0);
  }

  #responsiveMenu > .aside {
    width: 400px;
    height: 100vh;
    background: var(--white);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    transform: translateX(-100%);
    transition: all 0.5s;
  }

  #responsiveMenu > .aside > .aside-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #responsiveMenu > .aside > .aside-up > .logo > h3 {
    font-size: 2em;
    font-weight: normal;
    color: var(--smokey-black);
  }

  #responsiveMenu > .aside > .aside-up > ion-icon {
    font-size: 2.7em;
    color: var(--smokey-black);
    cursor: pointer;
    transition: all 0.5s;
  }

  #responsiveMenu > .aside > .aside-up > ion-icon:hover {
    transform: rotate(180deg);
    color: var(--tan-crayola);
  }

  #responsiveMenu > .aside > .aside-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #responsiveMenu > .aside > .aside-main > a > .link {
    width: 100%;
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
  }

  #responsiveMenu > .aside > .aside-main > a > .link:hover {
    background-color: rgb(238, 238, 238);
  }

  #responsiveMenu > .aside > .aside-main > a > .link > span {
    color: var(--smokey-black);
    font-size: 1.5em;
  }

  #responsiveMenu > .aside > .aside-main > a > .link:hover > span {
    color: var(--tan-crayola);
  }

  .blogCards > .card {
    width: 300px;
  }
}


@media screen and (max-width: 785px) {
  .container {
      max-width: 750px;
      width: 100%;
  }

  .shopContUp {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 730px) {
  .container {
    max-width: 500px;
    width: 100%;
  }

  .about > .title {
    max-width: 500px;
  }

  .heder-main-container > .someCont {
    flex-flow: row wrap;
  }

  .heder-main-container > .someCont > .someChild {
    max-width: 100%;
    width: 100%;
  }

  .heder-main-container > .up > .norm {
    width: 240px;
  }

  .heder-main-container > .up > .great {
    order: 3;
    width: 100%;
  }

  .about > .main-down > img {
    height: 300px;
  }

  .shopMainCont > .card {
    width: 230px;
  }

  .shopMainCont > .card  > .cardImg {
    height: 230px;
  }

  
  .blogCards > .card {
    width: 100%;
  }

  .blogCards > .card > .img {
    max-height: 400px;
    height: 100%;
  }

  /* .inputs > {
    flex-direction: column;
    align-items: center;
  } */

  
  .inputs > form > input{
    width: 100%;
  }

  .inputs > form > button {
    width: 220px;
  }
}

@media screen and (max-width: 586px) {
  .shopMainCont {
    justify-content: center;
  }
  .shopMainCont > .card {
    max-width: 400px;
    width: 100%;
  }

  .shopMainCont > .card  > .cardImg {
    max-height: 400px;
    height: 100%;
  }
}

@media screen and (max-width: 558px) {
  .heder-main-container > .up > .norm {
    width: 100%;
  }

  .title {
    padding: 0 30px;
  }

  .title > h2 {
    font-size: 3.7em;
  }

  .title > p {
    font-size: 1em;
  }
}


@media screen and (max-width: 500px) {
    .right-aside > .filterProductName > span {
        display: none;
    }

    .shopMainCont {
      gap: 50px;
    }

    .blog > .title {
      flex-direction: column;
      gap: 30px;
    }
}

@media screen and (max-width: 450px) {
  #responsiveMenu > .aside {
    width: 100%;
  }

  .about > .title > p {
    font-size: 0.9em;
  }

  .about > .main-down > img {
    height: 250px;
  }
  .navCont > .nav-icons > .fa-user-o, .navCont > .nav-icons .fa-heart, .navCont > .nav-icons .fa-shopping-bag{
    display: none;
  }
}



.title.dark > h2,.title.dark > p {
  color: white;
}
nav.dark > .navCont > ul > li > a{
  color: white;
}
#shops.dark > .shopContUp > h2 {
  color: white;
}
#shops.dark > .shopContUp > .right-aside > .search > input {
  background-color: rgba(0,0,0,0.3);
  border-color: white;
  color: white;
}
#shops.dark > .shopContUp > .right-aside > .search > button {
  background-color: white;
  color: #000;
  transition: all 0.5s;
}
#shops.dark > .shopContUp > .right-aside > .search > button:hover {
  background-color: var(--tan-crayola);
}

#shops.dark > .shopContUp > .right-aside > .filterProductName > .link{
  color: white;
}

#shops.dark > .shopContUp > .right-aside > .filterProductName > .link:hover{
  color: var(--tan-crayola);
}

#shops.dark > .shopContUp > .right-aside > .filterProductName > .link.link.active {
  color: var(--tan-crayola);
}

.addProduct.dark > h2 {
  color: white;
}

.addProduct.dark > .inputs > form > input,.addProduct.dark  > .inputs > form > textarea {
  background-color: rgba(0,0,0,0.3);
  color: white;
}
.addProduct.dark > .inputs > form > button {
  color: white;
  transition: all 0.5s;
}
.addProduct.dark > .inputs > form > button:hover {
  background-color: white;
  color: var(--tan-crayola);
}

.card.dark > .content > .productName,.card.dark > .content > .gin {
  color: white;
}

.blog.dark > .title > h2,.blog.dark > .title > span {
  color: white;
  transition: all 0.5s;
}

.blog.dark > .title > span:hover {
  color: var(--tan-crayola);
}

.card.dark > .content > h3, .card.dark > .content > .paragraph > span,  .card.dark > .content > p{
  color: white;
}

footer.dark {
  background-color: rgba(0,0,0,0.3);
}

footer.dark > .container > #footer-p{
  color: white;
}


/* update */

body > .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .inputs {
  max-width: 500px;
  padding: 40px 40px;
}
